API that enables atomic writnig

As [noted in Discord](https://discord.com/channels/976380008299917365/1063547094863978677/1370840347889897624), the WebTransport API [suggests](https://w3c.github.io/webtransport/#dom-webtransportwriter-atomicwrite) that we are likely to want to implement, in some form or another, an API that allows a user to attempt to atomically write a byte chunk of a user-controlled length:

> The atomicWrite method will reject if the chunk given to it could not be sent in its entirety within the flow control window that is current at the time of sending. This behavior is designed to satisfy niche transactional applications sensitive to flow control deadlocks ([RFC9308] Section 4.4).