Cannot configure ack_eliciting_threshold.

Currently, `quinn-proto` follows the recommendation in the QUIC specification and only acknowledges every other packet (`PendingAcks::ack_eliciting_threshold == 1` in `PendingAcks::new()`).

It is possible to configure the ACK frequency in the sending direction via `AckFrequencyConfig`, and Quinn also obeys when the peer sends an `ACK_FREQUENCY ` frame:

https://github.com/quinn-rs/quinn/blob/148d760d8845dc6315d554a39a1f1f83a4134bfe/quinn-proto/src/connection/spaces.rs#L644

https://github.com/quinn-rs/quinn/blob/148d760d8845dc6315d554a39a1f1f83a4134bfe/quinn-proto/src/connection/ack_frequency.rs#L141

However, there does not appear to be a way to configure `quinn-protos`'s own receive-side ACK frequency via code. The default threshold remains hard-coded until the peer requests a different value through ACK_FREQUENCY.

This can be harmful in cases when the peer does not support or send ACK_FREQUENCY. For example, if the peer sends a single ACK-eliciting packet and waits for its acknowledgement before sending more data, `quinn` has to wait for the delayed-ACK timeout (typically 25 ms), even when the application would prefer to acknowledge every packet immediately.

In particular, this seems to be the behavior of the SMB over QUIC client of Windows.

I would be happy to open a PR if the change is desired and someone would advise where to change the API.

It is possible for Quinn to support customizing this behavior. However, taking the scenario you describe at face value, it sounds like this is only needed as a workaround for a poorly behaved peer: applications should not rely on transport-layer ACKs to drive application-layer behavior such as sending new application data. Have you reported this behavior to Microsoft?

A fix on their end would improve performance for everyone, whereas configuring Quinn this way would likely be more costly for both peers compared to a system which does not improperly rely on transport ACKs.

I would not say this would be a workaround. RFC 9000 §13.2.2 says:
> A receiver SHOULD send an ACK frame after receiving at least two ack-eliciting packets. This recommendation is general in nature and consistent with recommendations for TCP endpoint behavior [[RFC5681](https://www.rfc-editor.org/rfc/rfc9000.html?utm_source=chatgpt.com#RFC5681)]. Knowledge of network conditions, knowledge of the peer's congestion controller, or further research and experimentation might suggest alternative acknowledgment strategies with better performance characteristics.

So it is a recommended default setting with better (case-dependent) strategies in mind. I would even dare to say that this section demands this setting to be configurable.

Furthermore there is no way for the peer to override this behavior. ACK_FREQUENCY is not part of RFC 9000. Is is merely a drafted extension.

In addition I made a quick research both ngtcp2 and QUICHE seem to be able to configure that behavior.

Insofar as that you're using it to work around a bug in Microsoft's SMB over QUIC implementation, it is a workaround. That doesn't mean Quinn can't have the option, but it does mean there may be a better solution for your problem. Have you reported the behavior to Microsoft?

I appreciate that you try to help but this is not about the unspecified behavior (not bug) in a third party protocol implementation but about the possibility to configure this in quinn. Not because of some example I have given but because I genuinely think that this option is missing (as I argued in my second post).